@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="banner">

    <div class="bg-image"></div> 
    <div class="bg-text"> <h2>Church got a lot easier!</h2><br> <p>-Welcome to the Meeting Planner-<br /><a  asp-page="/Meetings/Index">Get Started</a></p></div>
</div>