@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Moroni's Movies provides an up-to-date listing of all wholesome, family-friendly, and spirit-building movies.</a>.</p>
</div>
